<!DOCTYPE html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
      body {background-color: rgb(182, 214, 233);}
      h1   {color: rgb(20, 53, 42);}
      p    {color: rgb(0, 0, 0);}
   </style>
</head> 
<html lang="en">
   <center><body>
      <br><br>
      <h1><font size="+8">Registro da Interação</font></h1>
      <form method="POST">
         <h2>Nome</h2><br>
         <input type="text" name="name" size="50" width="10"><br><br>
         <h2>E-mail</h2><br>
         <input type="text" name="email" size="50" width="10"><br><br>
         <input type="submit">   
      </form>
      <p>O Agilim está esperando por você!<br> Caso não queira se identificar, deixe o e-mail em branco.</p>
   </body></center>
</html>