<!DOCTYPE html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
      body {background-color: rgb(182, 214, 233);}
      h1   {color: rgb(20, 53, 42);}
      p    {color: rgb(0, 0, 0);}
   </style>
</head> 
<html lang="en">
    <center><body>
      <form method = "post">
        <font size="+8">
            <p>&#128512<br> {{pos}}</p>
         
            <p>&#128528 <br> {{neu}}</p>

            <p>&#128546 <br> {{neg}}</p>
        </font>
      </form>
   </body></center>
</html>